# PostgreSQL configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=123456
POSTGRES_HOST=localhost
POSTGRES_HOST_DOCKER=db
POSTGRES_PORT=5432
POSTGRES_DB=taskflow

# Application environment
APP_ENV=development
DATABASE_URL=postgresql+asyncpg://user:123456@localhost:5432/taskflow
